<div class="row">
    <div class="card">
        <img alt="Imagem Atual" ng-src="{{imagem}}" data-holder-rendered="true">
        <p class="card-text">Imagem Atual</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <div id="normalizado" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div id="acumulado" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
